// Place all the styles related to the Cameras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cameraCanvas {

    display: inline-block;
    margin: 10;
}




.cameraArea-left-left  {

	display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

}



.cameraArea-right {

   display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;


}


#fadeandscale {
  transform: scale(0.8);
}
.popup_visible #fadeandscale {
  transform: scale(1);
}
